/* עיצוב בסיסי וגופנים */
body, html {
    margin: 0;
    padding: 0;
    background-color: #e8eff1;
    color: #333;
    line-height: 1.6;
    min-width: 500px;

}

/* קונטיינר ראשי */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* עיצוב פריטים כללי */
.item {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* עיצוב קישורים וכפתורים */
a, button {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s;
    background-color: #007BFF;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin: 2px;
}

a:hover, button:hover {
    color: #d1e7ff;
    background-color: #0056b3;
}

/* עיצוב אזור המשימות */
#allTasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0 5px;
}

.task {
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    flex: 1 1 100%; /* תיקון גמישות המשימות */
    min-width: 150px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.task.finished {
    color: #888;
    text-decoration: line-through;
}

/* עיצוב שדות קלט */
input[type="date"], input[type="text"] {
    padding: 10px;
    margin-top: 5px;
    width: calc(100% - 20px);
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #007BFF;
}

/* תצורה רספונסיבית למכשירים ניידים */
@media (max-width: 768px) {
    .container, .item {
        width: 95%;
    }

    button, input[type="date"], input[type="text"], a {
        padding: 15px;
        font-size: 16px; /* גופן גדול יותר לניידים */
    }
}

/* תצורה נוספת למכשירים קטנים מאוד */
@media (max-width: 480px) {
    .task {
        flex: 1 1 100%; /* משימה אחת בשורה לניידים */
    }

    button, a {
        width: 100%; /* כפתורים וקישורים יתפרשו על כל הרוחב */
    }
}